USE [master]
GO
/****** Object:  Database [QLKHACHSAN]    Script Date: 9/29/2023 9:19:42 PM ******/
CREATE DATABASE [QLKHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHACHSAN', FILENAME = N'C:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLKHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKHACHSAN_log', FILENAME = N'C:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLKHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHACHSAN]
GO
/****** Object:  Table [dbo].[TblBienLai]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBienLai](
	[maBL] [char](10) NOT NULL,
	[maHDDP] [char](10) NOT NULL,
	[maHDDV] [char](10) NOT NULL,
	[maNV] [char](10) NOT NULL,
	[ngayLap] [date] NULL,
	[tongTien] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblChiTietHDDP]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblChiTietHDDP](
	[maHDDP] [char](10) NOT NULL,
	[maPhong] [char](10) NOT NULL,
	[ngayNhan] [date] NULL,
	[ngayTra] [date] NULL,
	[tienPhong] [int] NULL,
	[ghiChu] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblChiTietHDDV]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblChiTietHDDV](
	[maHDDV] [char](10) NOT NULL,
	[maDV] [char](10) NOT NULL,
	[soLuong] [int] NULL,
	[thanhTien] [int] NULL,
	[ghiChu] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDichVu]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDichVu](
	[maDV] [char](10) NOT NULL,
	[tenDV] [nvarchar](40) NULL,
	[giaDV] [int] NULL,
	[ghiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHDDP]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHDDP](
	[maHDDP] [char](10) NOT NULL,
	[maKH] [char](10) NOT NULL,
	[maNV] [char](10) NOT NULL,
	[ngayLap] [date] NULL,
	[tienHDDP] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHDDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHDDV]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHDDV](
	[maHDDV] [char](10) NOT NULL,
	[maKH] [char](10) NOT NULL,
	[maNV] [char](10) NOT NULL,
	[ngayLap] [date] NULL,
	[tienHDDV] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblKhachHang]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKhachHang](
	[maKH] [char](10) NOT NULL,
	[hoTen] [nvarchar](40) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[cCCD] [char](15) NULL,
	[diaChi] [nvarchar](100) NULL,
	[soDT] [char](15) NULL,
	[ghiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblNhanVien]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNhanVien](
	[maNV] [char](10) NOT NULL,
	[hoTen] [nvarchar](40) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[cCCD] [char](15) NULL,
	[diaChi] [nvarchar](100) NULL,
	[soDT] [char](15) NULL,
	[ghiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPhong]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPhong](
	[maPhong] [char](10) NOT NULL,
	[loaiPhong] [nvarchar](30) NULL,
	[kieuPhong] [nvarchar](30) NULL,
	[donGia] [int] NULL,
	[tinhTrang] [nvarchar](30) NULL,
	[ghiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTaiKhoan]    Script Date: 9/29/2023 9:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTaiKhoan](
	[ID] [char](15) NOT NULL,
	[PASS] [nvarchar](15) NOT NULL,
	[chucVu] [nvarchar](30) NULL,
	[maNV] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblBienLai]  WITH CHECK ADD FOREIGN KEY([maHDDP])
REFERENCES [dbo].[TblHDDP] ([maHDDP])
GO
ALTER TABLE [dbo].[TblBienLai]  WITH CHECK ADD FOREIGN KEY([maHDDV])
REFERENCES [dbo].[TblHDDV] ([maHDDV])
GO
ALTER TABLE [dbo].[TblBienLai]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[TblNhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TblChiTietHDDP]  WITH CHECK ADD FOREIGN KEY([maHDDP])
REFERENCES [dbo].[TblHDDP] ([maHDDP])
GO
ALTER TABLE [dbo].[TblChiTietHDDP]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[TblPhong] ([maPhong])
GO
ALTER TABLE [dbo].[TblChiTietHDDV]  WITH CHECK ADD FOREIGN KEY([maHDDV])
REFERENCES [dbo].[TblHDDV] ([maHDDV])
GO
ALTER TABLE [dbo].[TblChiTietHDDV]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[TblDichVu] ([maDV])
GO
ALTER TABLE [dbo].[TblHDDP]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[TblKhachHang] ([maKH])
GO
ALTER TABLE [dbo].[TblHDDP]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[TblNhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TblHDDV]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[TblKhachHang] ([maKH])
GO
ALTER TABLE [dbo].[TblHDDV]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[TblNhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TblTaiKhoan]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[TblNhanVien] ([maNV])
GO
USE [master]
GO
